@theme {
  /* Register the animation name to create utility: 'animate-fade-in-up' */
  --animate-fade-in-up: fadeInUp 0.5s ease-out forwards;
}

/* Define the Keyframes */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@theme {
  --animate-bounce-slow: bounce-slow 3s infinite;

  @keyframes bounce-slow {

    0%,
    100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
      transform: translateY(5%);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

@theme {
  --animate-marquee: marquee 30s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}






/* Define the custom property for smooth rotation */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* 1. The Container */
.gradient-border-nav {
  position: relative;
  width: 100%;

  /* Remove overflow:hidden, we don't need it anymore */
  background: linear-gradient(#0B1D1D, #445151);
  border-radius: 30px;

  /* Flex settings */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

/* 2. The Border Layer (with the Mask) */
.gradient-border-nav::before {
  content: "";
  position: absolute;
  inset: 0;
  /* Stretches to fill the container */
  z-index: -1;
  /* Puts it behind the content */

  /* BORDER THICKNESS: Adjust this padding to make border thicker/thinner */
  padding: 1.5px;

  border-radius: 30px;
  /* Must match the container */

  /* The Rotating Gradient */
  background: conic-gradient(from var(--angle),
      #FFFFFF,
      #53C1CC,
      #06B5DB,
      #337588,
      #FFFFFF);

  /* The Magic Mask: This cuts out the center */
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  /* The Animation */
  animation: rotate-border 4s linear infinite;
}

/* 3. Remove the ::after (The solid background is gone!) */
.gradient-border-nav::after {
  display: none;
}

/* 4. Animation Definition */
@keyframes rotate-border {
  to {
    --angle: 360deg;
  }
}